[submodule "externals/StarField"]
	path = externals/StarField
	url = git@github.com:dmanning23/StarField.git
[submodule "externals/GameTimer"]
	path = externals/GameTimer
	url = git@github.com:dmanning23/GameTimer.git
[submodule "externals/Vector2Extensions"]
	path = externals/Vector2Extensions
	url = git@github.com:dmanning23/Vector2Extensions.git
[submodule "externals/RandomExtensions"]
	path = externals/RandomExtensions
	url = git@github.com:dmanning23/RandomExtensions.git
[submodule "externals/RectangleF"]
	path = externals/RectangleF
	url = git@github.com:dmanning23/RectangleF.git
