[submodule "externals/StarField"]
	path = externals/StarField
	url = git@github.com:dmanning23/StarField.git
[submodule "externals/GameTimer"]
	path = externals/GameTimer
	url = git@github.com:dmanning23/GameTimer.git
